emacs.dump
.cache
eaf
elpa
site-lisp
transient
require
url/
var/
!var/banner
!var/snippets
emacs.pdmp
.emacs.desktop
.lsp-session-v1
projectile-bookmarks.eld
network-security.data
.extension
.dap-breakpoints

